@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5 !important;
    -webkit-font-smoothing: antialiased;
    /* Color */
    --primary: #9ccc65;
    --primary-ligth: #cfff95;
    --primary-dark: #6b9b37;

    --secondary: #d4e366;
    --secondary-ligth:#ffff97;
    --secondary-dark: #a0b135;

    --link: #007eff;
    --mostarda: #d9b942
}

#root {
    /* background-color: #ffffff; */
    height: 100vh;
    /* width: 80vw; */
    /* margin: auto;
    position: relative;
    top: 10vh; */
    /* border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    padding: 1em; */
}

footer {
    background: gray;
}

form input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

form input[type="text"],
form input[type="password"]{
    background: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--secondary-dark);
    width: 100%;
    height: 2.3em;
    padding: 1em;
    margin-top: 1em;
    /* box-shadow: 0px 10px 10px grey; */
    
}


form input[type="text"]:hover,
form input[type="password"]:hover {
    border-bottom: .2px solid var(--secondary-dark);
}

form button {
    background-color: none;
    border: none;
    width: 10em;
    min-width: 5em;
    height: 2.5em;
    box-shadow: 0px 5px 8px  grey;
    border-radius: 3px;
}


form button[variant="link"] {
    background-color: #f0f0f5;
    color: var(--link);
    border-radius: 0px;
    box-shadow: none;
}

form button[variant="dark"] {
    background-color: var(--secondary-dark);
    color: white;
}

form button[variant="mostarda"] {
    background-color: var(--mostarda);
    color: white;
}


button.full{
    width: 100%;
}

button:hover{
    position: relative;
    top:2px;
    box-shadow: none;
}

.container-login {
    /* background-image: url("https://images.unsplash.com/photo-1572969204008-82e6df3159c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=100"); */
    /* background-repeat: repeat-x; */
}

.button {
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}

.title {
    text-align: center;
    color: gray;
    font-size: 2em;
    padding: 1em;
}

.loading {
    color:black;
    background: #f0f0f5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.loader {
    margin: auto;
    margin-top: calc(50vh - 120px) ;
    border: 16px solid var(--secondary);
    border-radius: 50%;
    border-top: 16px solid var(--primary);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.feed-back-error-input {
    color: white;
    /* background: #e52b56; */
    background: #454D3D;

    padding: 0.6em;
    font-size: 11px;
    position: relative;
    z-index: 0;
    border-bottom-left-radius: 2em;
    
}

.img-logo {
    display: flex;
    margin: 0 auto;
}